/*
    Document   : main．css
    Created on : 2014-08-19 11:34 AM
    Author     : fmay
    Description:
    Purpose of the stylesheet follows.
*/


body {
  background-color: #ffffff;  
}

.main {
  background-color: #dddddd;  
  width: 95%;
  margin: auto;
}

nav {
  background-color: #f48d8d;
  width: 400px;
  height: 50px; 
}

header {
  background-color: #7cafea; 
  width: 100%;
  height: 100px;
  
}

.content {
  background-color: #8bd6a9;
  width: 60%;
  float: left;  
}

.sidebar {
  background-color: #4baf73; 
  width: 40%; 
  float: left;
}

footer {
  clear: both; 
  background-color: #b78366;   
  height: 80px;  
}

